body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 0 1rem;

	h1 {
		color: rgb(209, 168, 85);
	}

	nav {
		background-color: #222;
		padding: .5rem;

		a {
			color: #aaa;
			text-decoration: none;
			margin-right: 1rem;
		}

		a.active {
			color: rgb(211, 211, 110);
		}
	}
	.paragraph {
		background-color: #222;
		margin-top: .5rem;
		padding: .5rem;
		// color: #aaa;
	}
	.headerAbout {
		display: flex;
  		justify-content: space-between;
  		align-items: flex-start;
		.avatar {
			// height: 150px;
			width: 30%;
			max-width: 300px;
			height: auto;
			border: 4px solid #333;
			// border-radius: 50%;
			// aspect-ratio: 1;
			// object-fit: cover;
			margin-right: .5rem;
		}
		.header-content {
			width: 100%;
			min-width: 0;
		}
		.contacts a {
			padding: 4px 8px;
			background: rgba(255, 255, 255, 0.1);
			border-radius: 8px;
			text-decoration: none;
			font-weight: 500;
			margin-right: 8px;
			margin-bottom: 8px;
			display: inline-flex;
			font-size: 14px;
			align-items: center;
			vertical-align: middle;
		}
		.contacts a:hover {
			background: rgba(255,255,255,0.125);
		}
		.contacts a:active {
			background: rgba(255,255,255,0.075);
		}
		.contacts .icon {
			width: 24px;
			height: 24px;
			display: flex;
			align-items: center;
			margin-right: 8px;
		}
		.contacts img {
			max-width: 100%;
			max-height: 100%;
		}
	}
	
	a {
		color: #aaa;
		text-decoration: none;
	}
	li {
		padding-bottom: .5rem;
	}
	p {
		max-width: 750px;
		color: #aaa;
	}
	.subtitle {
		margin: 1em 0;
	}
	
	.subtitle span[role="img"] {
		vertical-align: middle;
		font-size: 1.5em;
	}

}