* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto';
}

/* Themes */

.dark {
	background-color: $background-dark;
	color: $gray1;

	a {
		color: $primary;
	}
	.card {
		border-radius: 6px;
		background: #222222;
		box-shadow:  7px 7px 14px #1c1c1c,
             -7px -7px 14px #282828;
  }

} 

.light {
	background-color: $white;
	color: $background-dark;

	a {
		color: $background-dark;
	}
	.nav a {
		color: $primary;
	}
	.card {
    background: #e0e0e0;
    box-shadow:  5px 5px 18px #cacaca,
             -5px -5px 18px #f6f6f6;
  }
	
	
}

.App {
	min-height: 100vh;

	a {
		text-decoration: none;
	}

	.nav {
		width: 100%;
		height: 50px;
		background-color: $background-dark;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		position: relative;
		.nav-items {
			width: 25%;
			display: flex;
			justify-content: space-between;
		}
		
		@media screen and (max-width: 1080px) {
			.nav-items {
				display: none;
			}
		}
		.dropdown {
			z-index: 3;
			.dropdown-content {
				
				position: absolute;
				display: flex;
				flex-direction: column;
				width: 175px;
        top: 50px;
        border-top: 1px solid white;

        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        padding: .5rem;
        background-color: $background-dark;
        transform: translate(-60%);

				a {
					margin-bottom: .5rem;
				}
				a:last-child {
					margin-bottom: 0;
				}
				.dropdown-icon {
					position: absolute;
				}
				.dropdown-text {
					margin-left: 1.7rem;
					line-height: 23px;
				}
			}

		}
		
		@media screen and (min-width: 1080px) {
			.dropdown {
				display: none;
			}
		}

		.nav-icons {
			width: 10%;
			display: flex;
			justify-content: space-around;
		}
		@media screen and (max-width: 1080px) {
			.nav-icons {
				width: 30%;
			}
		}
		.icon {
			color: $primary;
		}
		
		a.active {
			color: $yellow;
		}
		a:hover {
			color: $white;	
		}	
	}

	.main {
		margin: 1rem;
		padding: 1rem;
	}
		
	ul {
		display: block;
		list-style-type: disc;
		margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		padding-inline-start: 40px;
	}

	li {
		padding-bottom: .5rem;
	}

	.main-about {
		
		p {
			max-width: 700px;
		}
		.headerAbout {
			display: flex;
			  justify-content: space-between;
			  align-items: flex-start;
			.avatar {
				// height: 150px;
				width: 30%;
				max-width: 300px;
				height: auto;
				border: 4px solid #333;
				// border-radius: 50%;
				// aspect-ratio: 1;
				// object-fit: cover;
				margin-right: .5rem;
			}
			.header-content {
				width: 100%;
				padding: .5rem;
				min-width: 0;
			}
			.contacts a {
				padding: 4px 8px;
				background: rgba(255, 255, 255, 0.1);
				border-radius: 8px;
				text-decoration: none;
				font-weight: 500;
				margin-right: 8px;
				margin-bottom: 8px;
				display: inline-flex;
				font-size: 14px;
				align-items: center;
				vertical-align: middle;
			}
			.contacts a:hover {
				background: rgba(255,255,255,0.125);
			}
			.contacts a:active {
				background: rgba(255,255,255,0.075);
			}
			.contacts .icon {
				width: 24px;
				height: 24px;
				display: flex;
				align-items: center;
				margin-right: 8px;
			}
			.contacts img {
				max-width: 100%;
				max-height: 100%;
			}
		}
		article {
			padding-top: .5rem;
			.about-text {
				text-align: justify;
				text-justify: inter-word;
			}
		}
	}

	
	@media only screen and (min-width: 480px) {
		h1, h2, h3, a, p {
			line-height: 1.2em;
			word-spacing: 0.1em;
			letter-spacing: 0.1em;
		}
		p {
			font-size: 1.2rem;
		}
		// article {
		// 	margin: .5rem;
		// }
	}
	.subtitle {
		margin: 1em 0;
	}
	
	.subtitle span[role="img"] {
		vertical-align: middle;
		font-size: 1.5em;
	}

}