$primary:#F2F2F2;
$secundary:#737373;
$dark: #323232;
$blue: blue;
$red: #b42121;
$yellow:#FFD714;
$green: #3E9C0B;
$black: #0D0D0D;
$class:  #3E9C0B;
$wert:rgb(209, 168, 85);
$background: #262626;
$grey: #404040;