
$primary: #aaa;
$white: #f2f2f2;
$gray1:#d9d9d9;
$gray2: #8C8C8C;
$gray3: #595959;
$gray4: #404040;
$background-dark: #222;
$black: #0D0D0D;
$blue: blue;
$red: #b42121;
$yellow:#FFD714;
$green: #3E9C0B;
$class:  #3E9C0B;
$wert:rgb(209, 168, 85);

