$primary: #aaa;
$gray1:#737373;
$gray2: #404040;
$gray3: #333;
$dark: #323232;
$background-dark: #222;
$blue: blue;
$red: #b42121;
$yellow:#FFD714;
$green: #3E9C0B;
$black: #0D0D0D;
$class:  #3E9C0B;
$wert:rgb(209, 168, 85);
